@page "/calc"
@using Core
@inject NavigationManager navMan
@inject HttpClient http

<h3>CalcPage</h3>

@if (calcs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <tbody>
            @foreach (var calc in calcs)
            {
                <tr class="calcRow">
                    <td>
                        <h2>@calc.ProjectId</h2>
                        Navn: @calc.Name.<br />
                        Dato: @calc.DateCreated.ToString("dd-MM-yyyy").<br />
                        Sven time pris: @calc.SvendTimePris kr.<br />
                        Lærling time pris: @calc.LærlingTimePris kr.<br />
                        Konsulent time pris: @calc.KonsulentTimePris <br/>
                        Arbejdsmand time pris: @calc.ArbjedsmandTimePris <br />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
	private List<Project>? calcs;

	protected override async Task OnInitializedAsync()
	{
		calcs = await http.GetFromJsonAsync<List<Project>>("http://localhost:5028/api/projcalc");
	}


}
