@page "/calc"
@using Core
@inject NavigationManager navMan
@inject HttpClient http

<h3>CalcPage</h3>

@if (calcs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <tbody>
            @foreach (var calc in calcs)
            {
                <tr class="calcRow">
                    <td>
                        <h2>@calc.CalcId</h2>
                        @foreach (var project in proj)
                        {
                            @if (project.ProjectId == calc.CalcId)
                            {
                            <h2>Projekt navn @project.Name</h2> 
                            }
                        }
                        <br />
                        Matriale pris: @calc.TotalMaterialCost kr.<br />
                        Time pris: @calc.TotalHourlyCost kr.<br />
                        Købers pris: @calc.TotalCustomerPrice kr. <br/>
                        Tjent: @calc.TotalEarnings kr.<br />
                        Dato: @calc.CreatedAt.ToString("dd-MM-yyyy").<br />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<Calculation>? calcs;
    private List<Project>? proj;

	protected override async Task OnInitializedAsync()
	{
		calcs = await http.GetFromJsonAsync<List<Calculation>>("http://localhost:5028/api/projcalc/calculations");
        proj = await http.GetFromJsonAsync<List<Project>>("http://localhost:5028/api/projcalc/projects");
	}


}
