@using Core
@using System.Globalization

@if (Project == null)
{
    <p class="error-message">Projektet blev ikke fundet!</p>
}
else
{
    <div class="project-detail-content">
        <header class="project-header">
            <h2>@Project.Name</h2>
            <p class="created-date">Dato Oprettet: @Project.DateCreated.ToString("dd/MM/yyyy")</p>
        </header>


        <section class="overview-section">
            <h3>Omkostninger</h3>

            <div class="info-grid">

                <div class="info-card primary">
                    <p class="label">Total pris for kunden:</p>
                    <p class="value">@(Project.TotalCostCustomer.ToString("C", new CultureInfo("da-DK")))</p>
                </div>

                <div class="info-card secondary">
                    <p class="label">Virksomhedens omkostninger:</p>
                    <p class="value">@(Project.TotalCostCompany.ToString("C", new CultureInfo("da-DK")))</p>
                </div>

                <div class="info-card success">
                    <p class="label">Overskud:</p>
                    <p class="value">@((Project.TotalCostCustomer - Project.TotalCostCompany).ToString("C", new CultureInfo("da-DK")))</p>
                </div>
            </div>
        </section>

        <hr class="divider"/>

        <section class="details-section">
            <h4>Detaljer</h4>
            
            <div class="info-grid">
                
                <div class="info-card info">
                    <p class="label">Mandetimer:</p>
                    <p class="value">@TotalHours kr.</p>
                </div>

                <div class="info-card info">
                    <p class="label">Materialer:</p>
                    <p class="value">@TotalMaterials kr.</p>
                </div>

            </div>
        </section>
        
    </div>
}

@code {
    [Parameter] public Project? Project { get; set; }

    //Skal hentes via ProjectRepo.GetTotalManHours(Project.ProjectId) det er bare temporary
    private int TotalHours { get; set; } = 54321; // Dummy værdi 
    private int TotalMaterials { get; set; } = 87653; // Dummy værdi
}